.parentFlexSplit {
 height: 6em;
   justify-content: center;
   bottom: 0;
   
 
 ;
}
.Carousel{
  margin-bottom: 1em;
  

}



.react-multi-carousel-item{
    max-width: 230px;
    min-width:270px;
    
}